html, body {
    width: 100%;
    margin: 0;
    background-image: url("screenfont.jpg");
    background-position: center;
    background-repeat: no-repeat;
}

#page {
    padding: 3em;
    background-color: black;
    border: solid grey 10px;
    border-radius: 15% 15% 15% 15%;
    width: 80%;
    height: 70vh;
    margin: auto;
    margin-top: 5em;
    margin-bottom: 5em;
    position: relative;
}
#initialisation {
    overflow: hidden;
    color: green;
    font-size: 4em;
    width: 6.7em;
    font-family: 'VT323', monospace;
    margin: auto;
    animation: typing 1.5s steps(17);
}

#chargement {
    width: 27em;
    display: flex;
    height: 100%;
    flex-direction: column;
}
#chargementBox {
    height: 100%;
    display: flex;
    justify-content: center;
}

#troispoints {
    opacity: 1;
    animation-delay: 1.5s;
    animation-name: disappear;
    animation-duration: 0.4s;
    animation-iteration-count: 5;
}
#pressEnter {
    color: green;
    font-family: 'VT323', monospace;
    font-size: 2em;
    margin: auto;
    margin-top: 1em;
    opacity: 0;
    animation-delay: 4s;
    animation-name: appear;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
}
@keyframes typing {
    from { 
        width: 0%
    }
    to { 
        width: 100%
    }
}
@keyframes disappear {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}
@keyframes appear {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}


/* choix 1 et 2 */
#accueil, #nombreCitation {
    display: flex;
    flex-direction: column;
}
#choixGen {
    background-color: black;
    width: 2em;
    height: 2em;
    caret-color: green;
    border: none;
    color: green;
    font-size: 2em;
    font-family: 'VT323', monospace;
}
*:focus {
    outline: none;
}
#choix, #choix1, #choix3 {
    font-family: 'VT323', monospace;
    color: green;
    font-size: 2em;
}
#carretChoix {
    margin-top: 0.2em;
    border-left: solid green 2px;
    width: 1em;
    height: 1em;
    animation-name: appear;
    animation-iteration-count: infinite;
    animation-duration: 0.5s;
}
/* éléments nombre de citations */
#nombreCitation, #numberElt {
    color: green;
    font-family: 'VT323', monospace;
    font-size: 2em;
}


/* contenu citations générées */

#content {
    display: flex;
    flex-direction: column;
    color: green;
    font-size: 2em;
    font-family: 'VT323', monospace;
    margin-top: -1.5em;
}

#citationBlock {
    display: flex;
    flex-direction: column;
}

#button, #retourPageAccueil, #disparaitreCitations {
    padding: 1em;
    width: 15em;
    margin: 1em;
    margin-top: 1em;
    font-size: 0.8em;
    background-color: black;
    color: green;
    font-family:  'VT323', monospace;
}
#button {
    margin-right: 1em;
    margin-bottom: 1em;
}
#menuContent {
    width: 80%;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 4.5em;
}
